.element {
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}

	&__title {
		text-align: center;
	}

	&__button {
		text-align: center;
	}

	&__item-button {
		border: 1px solid black;
		border-radius: 5px;
		display: inline-block;
		padding: 5px;
		margin-top: 10px;
		cursor: pointer;
		user-select: none;
	}

	&__content-item {
		border: 1px solid black;
		padding: 5px;
		margin-bottom: 10px;

		&:first-child {
			margin-top: 10px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
